* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --primary-color: rgba(7, 7, 7, 0.792);
    --secondary-color: yellow;
}

header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 2% 5%;
}

.logoPrincipal {
    height: 60px;
    width: auto;
}

.nab ul {
    display: flex;
}

.nab ul li {
    margin: 5vh 5vh;
    list-style-type: none;
}

.nab ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: rgb(177, 175, 175);
}

.nab ul li a:hover {
    color: var(--secondary-color);
    font-weight: bold;
    transition: 1s;
}

.banner {
    display: flex;
    background-image: url(assetts/abstract-textured-backgound.jpg);
    background-size: cover;
    background-position: center;
}

.banner .boxtittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin: 10vh;
    height: 40vh;
    width: auto;
    text-align: center;
    color: antiquewhite;
}

.boxtittle p {
    margin-top: 1%;
}

.banner .local {
    height: 50vh;
    width: auto;
    border-radius: 5%;
    padding: 20vh;
}

.categorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 10%;
    text-align: center;
    text-transform: capitalize;
}

.categorias .catimg {
    max-height: 40vh;
}

.titulo {
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

.tienda .articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}

.articulos article {
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 6px 5px 45px -15px rgba(155, 150, 150, 0.75);
    border-radius: 10px;
    transition: 0.3s transform;
    text-align: center;
    height: 50vh;
    width: auto;
}

.articulos article:hover {
    transform: scale(1.03);
}

.articulos article img {
    max-height: 60%;
    width: auto;

}

.articulos article button {
    border-radius: 3px;
    padding: 1%;
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.formm {
    text-align: center;
    text-transform: capitalize;
}

.formm .formulario {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    margin: 1% auto;
}

.formulario label {
    margin-top: 2%;
}

.formulario input,
textarea {
    border: 1px solid rgb(163, 163, 163);
    padding: 5px;
    border-radius: 5px;
    margin-top: 2vh;

}

.formulario button {
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    display: block;
    width: 60%;
    margin: 2% auto;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer .separator {
    position: relative;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 12vw solid black;
    margin-top: -13.5vw;
    right: 25px;
}


footer {
    padding: 25px 0 25px 20px;
    background-color: black;
    ;
    top: 20px;
    position: relative;
    margin-top: 10%;
}

footer .redes a {
    color: var(--secondary-color);
    display: flex;
    margin-top: 1%;
    text-decoration: none;
}

footer .redes i {
    margin-right: 15px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
    cursor: pointer;
}

.whatsapp a {
    color: green;
    font-size: 40px;
}

@media (max-width: 880px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner .imagen1 {
        text-align: center;
    }

    .banner .local {
        width: 60%;
        height: auto;
        text-align: center;
    }

    .categorias {
        display: flex;

        flex-wrap: wrap;
        margin: 5% auto;
        max-width: 880px;
    }

    .categorias .catt {
        flex-basis: 30%;
        margin: 10px;
    }

    .categorias .catimg {
        max-width: 100%;
        height: auto;
    }

    .tienda .articulos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .whatsapp {
        right: 150px;
        top: 550px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0;
    }

    .banner .local {
        padding: 0;
    }

    .categorias .catt {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .tienda .articulos {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
}